
@foreach (var item in @Model)
{
    <table cellpadding="10">

        <tr>
            <td>
                <a href="/Home/OpenNews/@Model.IndexOf(item)">
                    @if (item.ImageSrc != null)
                    {
                        <img width="240" height="160" src="@item.ImageSrc" />
                    }
                </a>
            </td>
            <td>
                <header>
                    <h4><a href="/Home/OpenNews/@Model.IndexOf(item)">@item.Title</a></h4>
                </header>
                <article>@item.Text</article>
                <br />
                <h6>Опубликовано: <time>@item.Date.DateTime</time></h6>
            </td>

        </tr>

    </table>
    <img src="~/images/separator.png" />
}


